<footer class="footer">
    <div class="footer__place">
        <ul class="place">
            <li class="bold">Hotels App</li>
            <li>Green St. 12</li>
            <li>84272 Green Town</li>
        </ul>
    </div>
    <div class="footer__contact">
        <ul class="contact">
            <li>+123 456 789</li>
            <li>+987 654 321</li>
            <li>example@example.com</li>
        </ul>
    </div>
    <div class="footer__button">
        <button class="button">Contact us</button>
    </div>
    <div class="footer__copyright">
        <p class="copyright">Copyright &copy; <%=year%>. All rights reserved</p>
    </div>
</footer>